{% extends 'base.html' %} {% block content %}
<h1>Jobs</h1>
<a href="{% url 'add-job'%}">Add Job</a>


<div class=".table-responsive{-sm|-md|-lg|-xl|-xxl}">
  {% for job in object_list %} 
    <table class="table">
        <!-- <caption>Caption?</caption> -->
        <thead>
      
            <tr>
              <th scope="col"></th>
              <th scope="col">Order Number</th>
              <th scope="col">SKU</th>
              <th scope="col">Quantity</th>
              <th scope="col">Number of Stones</th>
              <th scope="col">Description</th>
              <th scope="col">Setter (In-House)</th>
              <th scope="col">Date Created</th>
              <th scope="col">Date Updated</th>
            </tr>
          </thead>
   
        <tbody>


          <tr>     
     
              <th scope="row">      <a href="{% url 'job-detail' job.pk %}"> See Details</a>       </th>
            <td>{{ job.order_num }}</td>
            <td>{{ job.SKU }}</td>
            <td>{{ job.num_item }}</td>
            <td>{{ job.num_stones }}</td>
            <td>{{ job.description_text }}</td>
            <td>Setter (In-House): {{ job.setter_name }} - {{ job.setter_name.first_name }} {{ job.setter_name.last_name }} - {{ job.setter_name.email }}</td>
            <td>{{ job.created }}</td>
            <td>{{ job.updated }}</td>
      
          </tr>
        </tbody>
        {% endfor %}
    </table>
  </div>

  <hr/>
  <h1>Filter Jobs</h1>
  <form method="GET" action=".">
    <div class="form-row">
      <div class="form-group col-12">
          <div class="input-group">
              <input class="form-control py-2 border-right-0 border" type="search" name="order_num" placeholder="Search by order..." />
              <span class="input-group-append">
                  <div class="input-group-text bg-transparent">
                      <i class="fa fa-search"></i>
                  </div>
              </span>
          </div>
      </div>        
  </div>
  <div class="form-row">
    <div class="form-group col-12">
        <div class="input-group">
            <input class="form-control py-2 border-right-0 border" type="search" name="SKU" placeholder="Search by SKU" />
            <span class="input-group-append">
                <div class="input-group-text bg-transparent">
                    <i class="fa fa-search"></i>
                </div>
            </span>
        </div>
    </div>        
</div>
<div class="form-row">
  <div class="form-group col-12">
      <div class="input-group">
          <input class="form-control py-2 border-right-0 border" type="search" name="setter_name" placeholder="Search by setter name" />
          <span class="input-group-append">
              <div class="input-group-text bg-transparent">
                  <i class="fa fa-search"></i>
              </div>
          </span>
      </div>
  </div>        
</div>
<div class="form-row">
  <div class="form-group col-12">
      <div class="input-group">
          <input class="form-control py-2 border-right-0 border" type="search" name="created" placeholder="Search Date Created" />
          <span class="input-group-append">
              <div class="input-group-text bg-transparent">
                  <i class="fa fa-search"></i>
              </div>
          </span>
      </div>
  </div>        
</div>
  <button type="submit" class="btn btn-primary">Search</button>
  </form>
  <hr/>

  <!-- <div class="row">
    <ul>
      {% for qs in queryset %}
      {% if job.order_num is job.order_num %}

     
 
        <li>
          Order num: {{ job.order_num }}
        </li>
        {% elif job.sku is job.sku %}

          <span>SKU: {{ job.SKU }}</span>
          {% elif job.setter_name is job.setter_name %}
          <span>Setter Name: {{ job.setter_name }}</span>
          {% else job.created is job.created %}
          <span>Date Created: {{ job.created }}</span>

          {% endif %}

        <hr />
        {% endfor %}
    
    </ul>
  </div> -->
  {% endblock%}

