{% extends 'base.html' %} {% block content %}

<h1>Order Number: {{ job.order_num }}</h1>

<small>SKU: {{ job.SKU }}</small>
<small>Quantity: {{ job.num_item }}</small>
<small>Number of Stones: {{ job.num_stones }}</small>
<small>Description: {{ job.description_text }}</small>
<small>Setter (In-House): {{ job.setter_name }} - {{ job.setter_name.first_name }} {{ job.setter_name.last_name }} - {{ job.setter_name.email }}</small>
<small>Created: {{ job.created }}</small>
<small>Updated: {{ job.updated }}</small>

<a href="{% url 'home'%}">Back</a>
{% endblock %}